@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>
<h2>Combos</h2>
@foreach (IMenuItem item in Model.combo)
{
    <div class="menu-item">
        @item
        <div class="details">
            Price: @item.Price<br />

            Calories: @item.Calories<br />
            Ingredients:
            @foreach (string ingredient in @item.Ingredients)
            {
                @(ingredient + ", ")
            }

        </div>
    </div>
    <br />
}

<h2>Entrees</h2>
@foreach (Entrees item in Model.entree)
{
    <div class="menu-item">
        @item
        <div class="details">
            Price: @item.Price<br />

            Calories: @item.Calories<br />
            Ingredients:
            @foreach (string ingredient in @item.Ingredients)
            {
                @(ingredient + ", ")
            }

        </div>
    </div>
    <br />
}
<h2>Sides</h2>
@foreach (Side item in Model.side)
{
    <div class="menu-item">
        @item
        <div class="details">
            Price: @item.Price<br />

            Calories: @item.Calories<br />
            Ingredients:
            @foreach (string ingredient in @item.Ingredients)
            {
                @(ingredient + ", ")
            }

        </div>
    </div>
    <br />
}
<h2>Drinks</h2>
@foreach (Drink item in Model.drink)
{
    <div class="menu-item">
        @item
        <div class="details">
            Price: @item.Price<br />

            Calories: @item.Calories<br />
            Ingredients:
            @foreach (string ingredient in @item.Ingredients)
            {
                @(ingredient + ", ")
            }

        </div>
    </div>
    <br />
}

