@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
    <div class="content">
        <div class="itemContent">
            <h1>Menu</h1>
            <h2>Combos</h2>
            @foreach (Entrees item in Model.entree)
            {
                <div class="menu-item">
                    @(Model.cc = new CretaceousCombo(item))

                    <div class="details">
                        Price: @Model.cc.Price<br />

                        Calories: @Model.cc.Calories<br />
                        Ingredients:
                        @foreach (string ingredient in @Model.cc.Ingredients)
                        {
                            @(ingredient + ", ")
                        }

                    </div>
                </div>
                <br />
            }

            <h2>Entrees</h2>
            @foreach (Entrees item in Model.entree)
            {
                <div class="menu-item">
                    @item
                    <div class="details">
                        Price: @item.Price<br />

                        Calories: @item.Calories<br />
                        Ingredients:
                        @foreach (string ingredient in @item.Ingredients)
                        {
                            @(ingredient + ", ")
                        }

                    </div>
                </div>
                <br />
            }
            <h2>Sides</h2>
            @foreach (Side item in Model.side)
            {
                <div class="menu-item">
                    @item
                    <div class="details">
                        Price: @item.Price<br />

                        Calories: @item.Calories<br />
                        Ingredients:
                        @foreach (string ingredient in @item.Ingredients)
                        {
                            @(ingredient + ", ")
                        }

                    </div>
                </div>
                <br />
            }
            <h2>Drinks</h2>
            @foreach (Drink item in Model.drink)
            {
                <div class="menu-item">
                    @item
                    <div class="details">
                        Price: @item.Price<br />

                        Calories: @item.Calories<br />
                        Ingredients:
                        @foreach (string ingredient in @item.Ingredients)
                        {
                            @(ingredient + ", ")
                        }

                    </div>
                </div>
                <br />
            }
        </div>
            <form method="post">
                <h4>Search</h4>
                <input type="text" name="search" value="@Model.search" />
                <input type="submit" name="filter" id="filter" value="Apply Filter(s)" />

                <h4> Menu Catagory</h4>

                <div class="menu-category">

                    <label>
                        <input name="menuCategory" type="checkbox" value="Combo" />
                        Combo
                    </label>
                    <label>
                        <input name="menuCategory" type="checkbox" value="Entree" />
                        Entree
                    </label>
                    <label>
                        <input name="menuCategory" type="checkbox" value="Side" />
                        Side
                    </label>

                    <label>
                        <input name="menuCategory" type="checkbox" value="Drink" />
                        Drink
                    </label>

                    <h4>Cost</h4>
                    <label>
                        Min
                        <input type="number" min="0" max="10" step="0.1" id="minimum-Price" name="minimumPrice" value="@Model.search" />
                        <br />
                        Max
                        <input type="number" min="0" max="10" step="0.1" id="maximum-Price" name="maximumPrice" value="@Model.search" />

                    </label>
                    

                    <h4> Exclude Ingredient</h4>

                    <div class="exclude-ingredient">
                        @for (int i = 0; i < Model.ingredients.Count(); i++)
                        {
                        <label>
                            <input name="@Model.ingredients[i]" type="checkbox" value="@Model.ingredients[i]" />
                            @Model.ingredients[i] <br />
                        </label>
                        }



                    </div>

</form>
        
     </div>